<footer  class="shared footer bg-blue-light py-5">
  <div class="container">
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;" class="row pb-5">
      <div class="col-12 col-xl-4 text-center text-xl-start pb-4">
        <h4 class="fs-4 fw-semibold text-uppercase text-primary">{{ .Site.Title }}</h4>
        <p class="small text-black-61">{{ .Site.Params.description }}</p>
        {{ with .Site.Params.social }}
        <ul  class="d-flex justify-content-center justify-content-xl-start list-unstyled">
          {{ with .mastodon }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/mastodon.html" }}</a></li>{{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col-12 col-xl-2 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-semibold text-primary">Conteúdo</h5>
        <ul class="list-unstyled">
          {{ range .Site.Menus.footer }}
            <li class="">
              <a class="small text-black-61 text-decoration-none" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-xl-3 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-semibold text-primary">Contacto</h5>
        {{ range .Site.Params.contact }}
          <p class="small text-black-61 mb-1">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ with .Site.Params.copyright }}
          <p class="small text-black-61 text-center">{{ . | markdownify }}</p>
        {{ end }}
      </div>
    </div>
  </div>
</footer>
