nav {
    display: none !important;
}

footer {
    display: none !important;
}

h1 {
    font-size: 24px !important;
}

.print {
  display: none !important;
}

div.blog-content {
  font-size: 16px !important;
}

h2 {
  font-size: 20px !important;
  font-style: italic !important;
  font-weight: bold !important;
}

.PDF-Button {
  display: none !important;
}
