<section class="section o-que_fazemos" style="width=100%;">
  <div class="container">
    {{ range $index, $item := .content }}
      <div class="row portfolio-feature">
        {{ if $.Scratch.Get "isSmallScreen" }}
          <div class="col-12 d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-12">
                {{ with $item.image }}
                  {{ partial "utilities/image-fluid.html" . }}
                {{ end }}
              </div>
              <div class="col-12">
                {{ with $item.pretitle }}
                  <p class="text-danger fw-semibold mb-2">{{ . }}</p>
                {{ end }}
                {{ with $item.title }}
                  <h2 id="{{ anchorize . }}" class="fs-1 fw-bold text-primary pb-3">
                    <a href="#{{ anchorize . }}" class="title-link">{{ . }}</a>
                  </h2>
                {{ end }}
                  <p class="text-black-61 pb-3">{{ .text | markdownify}}</p>
                <div class="accordion">
                  {{ range $accordionIndex, $accordionItem := $item.accordion }}
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-{{ $index }}-{{ $accordionIndex }}" aria-expanded="true" aria-controls="accordion-{{ $index }}-{{ $accordionIndex }}">
                      {{ $accordionItem.button }}
                    </button>
                    <div id="accordion-{{ $index }}-{{ $accordionIndex }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ $index }}-{{ $accordionIndex }}" data-bs-parent="#accordion">
                      <div class="accordion-body">
                        {{ range $accordionItem.paragraphs }}
                          <p class="text-black-61 pb-3">{{ .paragraph | markdownify}}</p>
                        {{ end }}
                      </div>
                    </div>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        {{ else }}
          {{ if eq (mod $index 2) 0 }}
            <div class="col-12 col-xl-6 d-flex flex-column justify-content-center order-2 order-xl-1">
              {{ with $item.image }}
                {{ partial "utilities/image-fluid.html" . }}
              {{ end }}
            </div>
            <div class="col-12 col-xl-6 d-flex flex-column justify-content-center order-1 order-xl-2">
              {{ with $item.pretitle }}
                <p class="fw-semibold mb-2" style="color:#a3d8ae">{{ . }}</p>
              {{ end }}
              {{ with $item.title }}
                <h2 id="{{ anchorize . }}" class="fs-1 fw-bold text-primary pb-3">
                  <a href="#{{ anchorize . }}" class="title-link">{{ . }}</a>
                </h2>
              {{ end }}
              {{ with $item.text }}
                <p class="text-black-61 pb-3">{{ . }}</p>
              {{ end }}
              <div class="accordion">
                {{ range $accordionIndex, $accordionItem := $item.accordion }}
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-{{ $index }}-{{ $accordionIndex }}" aria-expanded="true" aria-controls="accordion-{{ $index }}-{{ $accordionIndex }}">
                    {{ $accordionItem.button }}
                  </button>
                  <div id="accordion-{{ $index }}-{{ $accordionIndex }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ $index }}-{{ $accordionIndex }}" data-bs-parent="#accordion">
                    <div class="accordion-body">
                      {{ range $accordionItem.paragraphs }}
                        <p class="text-black-61 pb-3">{{ .paragraph | markdownify}}</p>
                      {{ end }}
                    </div>
                  </div>
                {{ end }}
              </div>
            </div>
          {{ else }}
            <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
              {{ with $item.pretitle }}
                <p class="fw-semibold mb-2" style="color:#a3d8ae">{{ . }}</p>
              {{ end }}
              {{ with $item.title }}
                <h2 id="{{ anchorize . }}" class="fs-1 fw-bold text-primary pb-3">
                  <a href="#{{ anchorize . }}" class="title-link">{{ . }}</a>
                </h2>
              {{ end }}
              {{ with $item.text }}
                <p class="text-black-61 pb-3">{{ . }}</p>
              {{ end }}
              <div class="accordion">
                {{ range $accordionIndex, $accordionItem := $item.accordion }}
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-{{ $index }}-{{ $accordionIndex }}" aria-expanded="true" aria-controls="accordion-{{ $index }}-{{ $accordionIndex }}">
                    {{ $accordionItem.button }}
                  </button>
                  <div id="accordion-{{ $index }}-{{ $accordionIndex }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ $index }}-{{ $accordionIndex }}" data-bs-parent="#accordion">
                    <div class="accordion-body">
                      {{ range $accordionItem.paragraphs }}
                        <p class="text-black-61 pb-3">{{ .paragraph | markdownify}}</p>
                      {{ end }}
                    </div>
                  </div>
                {{ end }}
              </div>
            </div>
            <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
              {{ with $item.image }}
                {{ partial "utilities/image-fluid.html" . }}
              {{ end }}
            </div>
          {{ end }}
        {{ end }}
      </div>
      <!-- Add a separator after each container -->
      <hr class="my-4">
    {{ end }}
  </div>
</section>
