{{ define "main" }}

<section class="section blog-list py-5">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-12 col-xl-6">
        {{ with .Title }}
          <h2 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h2>
        {{ end }}
        {{ with .Params.description }}
          <p class="text-black-61 text-center pb-3">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <div class="row pb-5">
     <div class="col-12 d-flex justify-content-center">
       <div class="blog-content fs-5 text-black-61">
         {{ .Content }}
       </div>
     </div>
    </div>

    <!-- Grouped posts by tags -->
    {{ $localizedPages := slice }}
    {{ range $local, $pages := .Site.Taxonomies.locals }}
      {{ $localizedPages = $localizedPages | append (dict "Local" $local "Pages" $pages) }}
    {{ end }}

    {{ range $localizedPages }}
      <h3 style="color: #5c2751;">{{ .Local | title }}</h3>
      <div class="row g-4 pb-5">
        {{ range .Pages }}
          <div class="col-12 col-md-6 col-lg-3">
            <a class="card text-decoration-none border-0 " href="{{ .Permalink }}">
              <div style="border-radius: 10%; overflow: hidden;">
              <div class="aspect-ratio-62-5">
                <img src="{{ .Params.featured_image }}" alt="{{ .Title }}" >
              </div>
            </div>
            </a>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</section>
{{end}}
