<!DOCTYPE html>
<html lang="en">
  {{ partial "head/head.html" . }}
  <body>
    {{- partial "shared/header-en.html" . -}}
  <section class="section blog-single py-5">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-12">
          {{ with .Title }}
            <h1 class="display-1 fw-bold text-center text-primary pb-3">{{ . }}</h1>
          {{ end }}
          {{ with .Params.description }}
            <p class="text-black-61 text-center pb-3">{{ . }}</p>
          {{ end }}
        </div>
      </div>
      <div class="row justify-content-center"> <!-- Added row for content centering -->
        <div class="col-12 col-md-10 col-lg-8"> <!-- Adjust columns based on your layout -->
          <div class="blog-content fs-5 text-justify"> <!-- Added text-center class -->
            {{ partial "utilities/content-edited" . }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{- partial "shared/footer-en.html" . -}}
</body>
</html>
