<!DOCTYPE html>
<html lang="en">
  {{ partial "head/head.html" . }}
  <body>
    {{- partial "shared/header-en.html" . -}}
    {{ with .Site.Data.home.en.formacoes_en }}{{ partial "sections/formacoes.html" . }}{{ end }}
    {{ with .Site.Data.home.en.hero_en }}{{ partial "sections/hero.html" . }}{{ end }}
    {{ with .Site.Data.home.en.formacoes_extended_en }}{{ partial "sections/formacoes_extended.html" . }}{{ end }}
    {{- partial "shared/footer-en.html" . -}}
  </body>
</html>
