{{ define "main" }}
  <section class="section blog-list py-5">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-12 col-xl-6">
          {{ with .Title }}
            <h2 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h2>
          {{ end }}
          {{ with .Params.description }}
            <p class="text-black-61 text-center pb-3">{{ . }}</p>
          {{ end }}
        </div>
      </div>
      <div class="row pb-5">
       <div class="col-12 d-flex justify-content-center">
         <div class="blog-content fs-5 text-black-61">
           {{ partial "utilities/content-edited" . }}
         </div>
       </div>
      </div>
      <div class="row g-4 pb-5">
        {{ range (.Paginate .RegularPages).Pages }}
        <div class="col-12 col-md-6 col-lg-4">
          <a class="card text-decoration-none h-100" href="{{ .Permalink }}">
            <div class="aspect-ratio-62-5">
              {{ with ( partial "utilities/get-featured-image.html" . ) }}
                {{ partial "utilities/card-img-top" . }}
              {{ end }}
            </div>
            <div class="card-body">
              <h5 class="card-title fw-semibold">{{ .Title }}</h5>
              <p class="card-text text-black-61">{{ .Summary | plainify }}</p>
            </div>
          </a>
        </div>
        {{ end }}
      </div>
      <div class="row pb-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </section>
{{ end }}
