{{ define "main" }}



<div style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin-top: 20px;">
  <h2 style="color: #5c2751"> Oh Não! A página em que clicaste não existe (ou foi movida) </h2>
</div>
<div style="display: flex; align-items: center; justify-content: center;">
  <img src="/images/404.png" alt="Erro 404" height="15%"></img>
</div>
{{ end }}
