{{ . |   replaceRE "(<h[1] id=\"(.+)\".*>)(.*)(</h[1]>)" "${1}<a href=\"#${2}\">#</a> ${3}${4}" |
   replaceRE "(<h[2] id=\"(.+)\".*>)(.*)(</h[2]>)" "${1}<a href=\"#${2}\">##</a> ${3}${4}" |
   replaceRE "(<h[3] id=\"(.+)\".*>)(.*)(</h[3]>)" "${1}<a href=\"#${2}\">###</a> ${3}${4}" |
   replaceRE "(<h[4] id=\"(.+)\".*>)(.*)(</h[4]>)" "${1}<a href=\"#${2}\">####</a> ${3}${4}" |
   replaceRE "(<h[5] id=\"(.+)\".*>)(.*)(</h[5]>)" "${1}<a href=\"#${2}\">#####</a> ${3}${4}" |
   replaceRE "(<h[6] id=\"(.+)\".*>)(.*)(</h[6]>)" "${1}<a href=\"#${2}\">######</a> ${3}${4}" |
   safeHTML }}
